.help-form {
  &__title {
    color: #4c4c4c;
    font-size: 2.625rem;
    font-weight: 700;
    text-align: center;

    &--green {
      background-color: #3ab8a4;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      color: #fff;
      margin: 0;
      padding: 60px 0;
    }

    &--zero-bottom {
      margin-bottom: 0;
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 810px;
  }

  &__caption {
    color: #4f4f4f;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 20px 50px;
    text-align: center;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.125rem;
    margin-bottom: 5px;
  }

  &__inputs-wrapper {
    margin: 0 5%;
  }

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 15px;
    width: 45%;
  }

  &__column-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    color: #4f4f4f;
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  &__input {
    background-color: #f3f3f3;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    line-height: 2.1rem;
    margin-bottom: 18px;
  }

  &__payment-details {
    display: flex;
    flex-direction: column;
  }

  &__sum {
    display: flex;
    flex-wrap: wrap;
    line-height: 2.1rem;
    margin: 5px 0 20px;
  }

  &__sum-values {
    display: flex;
    justify-content: space-around;
  }

  &__sum-pairs {
    display: flex;
    justify-content: space-around;
    max-width: 45%;
  }

  &__text--sum {
    align-self: center;
    margin: 0;
  }

  &__radio {
    background-color: #fff;
    border: 2px solid #4f4f4f;
    margin: 0 11px;
    vertical-align: middle;
  }

  &__sum-value {
    font-weight: 300;
  }

  &__sum-number {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  &__sum-currency {
    font-variant: small-caps;
    margin: 0 5px;
  }

  &__text[for='sumOther'] {
    margin: 0 11px;
  }

  &__input--sum {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
    max-width: 145px;
    text-indent: 5px;
    vertical-align: middle;
  }

  &__agreement {
    margin-bottom: 35px;
  }

  &__check-agreement {
    margin: 0 10px 0 0;
  }

  &__agreement-link {
    &:link {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 16px 0;
    width: 45%;

    &:first-child {
      background-color: #ff9400;
    }

    &:last-child {
      background-color: #fdbd65;
    }
  }

  @media only screen and (max-width: 1024px) {
    &__sum-values {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__sum-pairs {
      max-width: 25%;
    }

    &__text--sum {
    }
  }

  @media only screen and (max-width: 700px) {
    &__column,
    &__info {
      width: 47%;
    }

    &__sum-values {
      justify-content: flex-start;
    }

    &__sum-pairs {
      margin-bottom: 10px;
      max-width: 45%;
    }

    &__buttons {
      align-items: center;
      flex-direction: column;
    }

    &__button {
      margin: 15px 0;
      width: 60%;
    }
  }

  @media only screen and (max-width: 550px) {
    &__info-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    &__column-wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__column,
    &__info {
      width: 80%;
    }

    &__payment-details,
    &__agreement {
      margin: auto;
      width: 80%;
    }

    &__sum {
      margin: 5px auto 20px;
      width: 80%;
    }

    &__sum-values {
      justify-content: space-around;
    }

    &__sum-currency {
      margin: 0 10px;
    }

    &__button {
      width: 85%;
    }
  }

  @media only screen and (max-width: 425px) {
    &__column,
    &__info,
    &__payment-details,
    &__sum {
      width: 90%;
    }

    &__text[for='sumOther'] {
      margin: 0 5px;
    }

    &__sum-pairs {
      max-width: 100%;
    }

    &__button {
      font-size: 1.2rem;
    }
  }
}
