.news {
  &__title {
    background-color: $color-main-landing-hero-green;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
    color: #fff;
    font-size: 2.625rem;
    font-weight: bold;
    padding: 3.75rem 0;
    text-align: center;
  }

  &__nav-links {
    display: flex;
    justify-content: center;
  }

  &__nav-link {
    color: $color-secondary-news-menu-gray;
    display: inline-block;
    flex-wrap: wrap;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    padding: 40px 36px;

    &--active {
      text-decoration-color: #f1a350;
      text-decoration-line: underline;
    }
  }

  &__card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.1);
    margin: 0 auto 10px;
    width: 80%;
  }

  &__card-thumbnail-image {
    border: 0;
    border-radius: 10px 10px 0 0;
  }

  &__card-content {
    margin: 15px 25px;
  }

  &__card-header {
    color: #4f4f4f;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  &__card-date {
    color: #bdc1c0;
    font-size: 0.625rem;
    font-weight: 300;
    line-height: 1.125rem;
  }

  &__card-short-text {
    color: #696969;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.125rem;
    margin-bottom: auto;
  }

  &__card-link {
    color: #283e81;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.125rem;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px 10%;
  }

  @media only screen and (min-width: 700px) {
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__cards::after {
      content: '';
      height: 0;
      margin: 0 auto 10px;
      width: 45%;
    }

    &__cards &__card:only-child {
      /*  added rule  */
      margin-left: 50%;
      transform: translateX(-50%);
    }

    &__card {
      width: 45%;
    }

    &__pagination {

      margin: 30px 2.5%;
    }
  }
}
