.achievements {
  background: linear-gradient(to bottom, #ecf8f6 0%, #ecf8f6 59%, #44bca9 59%, #44bca9 59%, #44bca9 100%); /* W3C */
  text-align: center;

  &__title {
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 9px 25px 0 rgba(68, 188, 169, 0.19);
    display: inline-block;
    margin: 110px 0 55px;
    padding: 13px 12px;
  }

  &__icon {
    display: inline-block;
    margin: 0 12px;
    vertical-align: middle;
  }

  &__success-title {
    color: #3b3b3b;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 2.6875rem;
    margin: 0 12px;
    vertical-align: middle;
  }

  &__success-million {
    color: #273a74;
    font-size: 8rem;
    font-weight: 500;
    line-height: 9.5rem;
  }

  &__success-text {
    color: #3b3b3b;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.375rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  &__list-item {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__list-icon {
    display: inline-block;
    margin: 0 auto;
  }

  &__category-data {
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    line-height: 76px;
  }

  &__category-text {
    color: #3b3b3b;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
  }

  &__button-report {
    display: inline-block;
    margin: 50px 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media only screen and (max-width: 1024px) {
    &__success-million {
      font-size: 6rem;
      line-height: 6.5rem;
    }
  }

  @media only screen and (max-width: 700px) {
    & {
      background: #44bca9;
    }

    &__success-million {
      font-size: 5rem;
      line-height: 5.5rem;
    }

    &__list {
      align-items: center;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 425px) {
    &__success-million {
      font-size: 3.5rem;
      line-height: 4rem;
    }

    &__success-title {
      font-size: 1.8rem;
    }
  }
}
