.animal-card {
  background-color: #f6f6f6;
  border-radius: 10px;
  box-shadow: 4px 6px 26px 1px rgba(0, 0, 0, 0.16);
  position: relative;
  top: 143px;
  padding-bottom: 40px;

  &__image {
    background: url('/dist/images/photo_dog_1.png') no-repeat center;
    background-size: cover;
    height: 250px;
    position: relative;
    width: 100%;
  }

  &__table {
    font-size: 0.75rem;
    line-height: 2.58;
    margin: 34px auto 54px;
    width: 80%;
  }

  &__props {
    color: #959595;
    font-weight: 400;
    padding-left: 6px;
  }

  &__data {
    color: #404040;
    font-weight: 700;
    padding-left: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .animal-card {
    position: static;
  }
}
