.landing-animals {
  background-color: #ecf8f6;

  &__numbers {
    color: #273a74;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  &__typed {
    display: inline-block;
    margin: 5px;
  }

  &__number {
    font-weight: 500;
    vertical-align: center;
  }

  @media only screen and (max-width: 1024px) {
    &__numbers {
      display: flex;
      justify-content: space-around;
    }
  }

  @media only screen and (max-width: 425px) {
    &__numbers {
      flex-direction: column;
      align-items: center;
    }
  }
}
