.hero {
  background-color: $color-main-landing-hero-green;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
    url('/dist/images/green_stars.png');
  text-align: left;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--left {
    padding-top: 133px;
  }

  &__title {
    color: #fff;
    font-size: 5.25rem;
    font-weight: 500;
    line-height: 5.75rem;
    margin: 0;
    max-width: 563px;
  }

  &__links {
    display: flex;
    margin-bottom: 80px;
    margin-top: 40px;
  }

  &__link {
    background-color: #273a74;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding: 13px 10px;
    text-align: center;
  }

  &__link:last-child {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .hero--left,
  .hero--right {
    margin: 40px auto;
    padding: 0;
  }

  .hero__title {
    font-size: 4rem;
    text-align: center;
  }

  .hero__links {
    margin: 80px 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .hero__link,
  .hero__link:last-child {
    margin: 0;
  }
}

@media only screen and (max-width: 425px) {
  .hero__title {
    font-size: 3rem;
  }
  .hero__links {
    flex-direction: column;
    margin: 0 20px;
  }
  .hero__link,
  .hero__link:last-child {
    margin: 20px;
  }
}
