.partners {
  &__title {
    color: $color-main-landing-text-black;
    font-size: 2.625rem;
    font-weight: 300;
    line-height: 0.74;
    margin: 66px 0 0;
    text-align: center;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__logo {
    display: inline-block;
    margin: 8px 55px 90px;
    vertical-align: top;
  }

  &__logo--1st {
    background-image: url('/dist/images/logo_uteam.png');
    height: 171px;
    width: 174px;
  }

  &__logo--2nd {
    background-image: url('/dist/images/logo_coax.png');
    height: 167px;
    width: 192px;
  }

  @media only screen and (max-width: 700px) {
    &__title {
      margin-top: 25px;
    }

    &__logo {
      margin: 10px;
    }
  }
}
