.partners {
  &__title {
    color: $color-main-landing-text-black;
    font-size: 2.625rem;
    font-weight: 300;
    line-height: 0.74;
    margin: 80px 0 0;
    text-align: center;
  }

  &__small-title {
    color: #3b3b3b;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 0.875rem;
    margin: 45px 0;
    opacity: 0.75;
    text-align: center;
    text-transform: uppercase;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__logo {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 68px;
    margin: 0 25px;
  }

  &__logo:first-child {
    background-image: url('/dist/images/logo_uteam.png');
    width: 173px;
  }

  &__logo:last-child {
    background-image: url('/dist/images/logo_coax.png');
    width: 200px;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 120px;
    max-width: 928px;
  }

  &__list-item {
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 110px;
    justify-content: center;
    margin: 6px;
    width: 220px;
  }

  &__additon-button {
    border: 2px solid #f49837;
    border-radius: 5px;
    color: #f49837;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1875rem;
    padding: 10px;
    text-align: center;
    vertical-align: middle;

  }

  @media only screen and (max-width: 700px) {
  }
}
