.work-flow {
  &__header {
    color: $color-main-landing-workflow-header-blue;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1;
    padding-left: 60px;
    text-transform: uppercase;
  }

  &__header-link {
    border-radius: 8px;
    display: inline-block;
    margin: 60px 40px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background: darken(#fff, 7%);
    }

    &:link,
    &:visited {
      color: $color-main-landing-workflow-header-blue;
    }
  }

  &__main {
    padding: 77px 0 80px;
    text-align: left;
  }

  &__title {
    color: $color-main-landing-text-black;
    font-size: 2.625rem;
    font-weight: bold;
    line-height: 0.74;
    margin: 0 0 45px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.16);
    padding: 21px 26px 30px;
    width: 28.5%;
  }

  &__item-header {
    color: $color-secondary-workflow-title-green;
  }

  &__description {
    color: $color-main-landing-text-black;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
  }

  @media only screen and (max-width: 1024px) {
    &__header {
      padding: 0;
      text-align: center;
    }

    &__list {
      align-items: center;
      flex-direction: column;
    }

    &__item {
      width: 80%;
    }
  }
}
