.work-flow {
  &__main {
    padding: 105px 0;
    text-align: center;
  }

  &__title {
    color: $color-main-landing-text-black;
    font-size: 2.875rem;
    font-weight: 300;
    line-height: 3.5rem;
    margin: 10px 0 90px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    padding: 21px 26px 30px;
    width: 28.5%;

  }

  &__image-container {
    align-items: center;
    background-color: rgba(236,248,246,0.5);
    border-radius: 50%;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
  }

  &__item-header {
    color: #3b3b3b;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  &__description {
    color: #4d4d4d;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    margin-bottom: auto;
  }

  @media only screen and (max-width: 1024px) {
    &__header {
      padding: 0;
      text-align: center;
    }

    &__list {
      align-items: center;
      flex-direction: column;
    }

    &__item {
      width: 80%;
    }
  }
}
