.footer {
  background: linear-gradient(
    to right,
    $color-secondary-footer-contacts-green 0%,
    $color-secondary-footer-contacts-green 50%,
    $color-main-landing-hero-green 50%,
    $color-main-landing-hero-green 100%
  );
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.8;
  text-align: left;

  a:link {
    color: #fff;
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
  }

  &__category-title {
    font-weight: 600;
    text-transform: uppercase;

    &:first-child {
      line-height: 2.6;
    }
  }

  &__contacts {
    background-color: $color-secondary-footer-contacts-green;
    flex: 3 3 0;
    padding-top: 60px;
  }

  &__address-content {
    display: flex;
    flex-direction: column;
    font-style: normal;
    opacity: 0.75;
  }

  &__sitemap {
    background-color: $color-main-landing-hero-green;
    display: flex;
    flex: 9 9 0;
    padding-top: 60px;
  }

  &__sitemap-container {
    display: flex;
    margin-left: auto;
  }

  &__sitemap-col {
    display: flex;
    flex-direction: column;
  }

  &__sitemap-bold-link {
    font-weight: 600;
    line-height: 2.2;
    text-transform: uppercase;
  }

  &__sitemap-link {
    opacity: 0.75;
  }

  &__social {
    margin: 55px 0;
  }

  &__social-icon {
    display: inline-block;

    &:nth-child(2n) {
      margin: 0 16px;
    }
  }

  @media only screen and (max-width: 1024px) {
    background: transparent;
    text-align: center;

    &__sitemap {
      display: none;
    }
  }
}
