.footer {
  background-color: $color-main-landing-hero-green;
  color: #fff;
  font-size: 0.875rem;
  padding-top: 60px;
  text-align: left;

  a:link {
    color: #fff;
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
  }

  &__category-title {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__contacts {
    flex: 3 3 0;
  }

  &__address-content {
    display: flex;
    flex-direction: column;
    font-style: normal;
  }

  &__sitemap {
    display: flex;
    flex: 9 9 0;
  }

  &__sitemap-col {
    display: flex;
    flex: 1;
    flex-direction: column;


    &--bold {
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__social {
    margin: 55px 0;
  }
}
