.footer {
  background-color: $color-main-landing-hero-green;
  &__top {
    padding: 25px 0 85px;
  }
  &__contacts-left {
    display: flex;
  }
  &__logo {
    text-align: center;
  }
  &__logo-image {
    background-image: url("/dist/images/footer_logo.png");
    display: inline-block;
    height: 66px;
    width: 78px;
  }
  &__logo-lines {
    width: 166px;
    display: flex;
    justify-content: space-between;
  }
  &__logo-line {
    height: 4px;
    width: 47px;
    background-color: #6f6f6f;
    &--1st {
      opacity: 0.65;
    }
    &--2nd {
      opacity: 0.95;
    }
    &--3rd {
      opacity: 0.35;
    }
  }

  &__contacts-phone {
    margin: 5px 0;
  }
  &__contacts-email {
    margin-top: 20px;
  }

  &__contacts-title {
    color: #006c55;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    min-width: 72px;
    margin-left: 42px;
  }

  &__contacts-data {
    color: #006c55;
    font-size: 2.375rem;
    font-weight: 700;
    vertical-align: middle;
  }

  &__contacts-right {
    padding: 12px 50px;
  }

  &__socials {
    display: inline-block;
    margin: 0 21px;
  }
  &__table{
    padding-bottom: 68px;
  }

  &__sitemap {
    width: 100%;

    a {
      color: #fff;
    }
  }
  &__sitemap-head {
    td {
      text-transform: uppercase;
      font-weight: 500;
      padding-bottom: 18px;
    }
  }

  &__sitemap-body {
    td {
      font-weight: 400;
      padding: 10px 0;
    }
  }
}
