.header-fixed {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-block {
  height: 91px;
}

.header {
  background-color: #fff;
  text-transform: uppercase;

  &__logo {
    left: 50%;
    position: fixed;
    top: 16px;
    transform: translateX(-50%);
  }

  &__bottom {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714;
    margin: auto;
    max-width: 1310px;
  }
}

.contacts {
  display: flex;
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 2.7;
  margin: auto;
  max-width: 1310px;

  &::before {
    content: '';
    display: inline-block;
    flex-basis: 100px;
  }

  &::after {
    content: '';
    display: inline-block;
    flex-basis: 193px;
  }

  &__background {
    background-color: $color-secondary-header-top-background-green;
  }
}

.contacts-left {
  flex-basis: 555px;
  text-align: left;
}

.contacts-right {
  display: flex;
  flex-basis: 462px;
  justify-content: flex-end;
}

.contact {
  color: $color-secondary-header-top-font-gray;
  cursor: pointer;
  display: inline-block;
  padding: 3px 11px 2px;
  vertical-align: top;

  &--lang {
    color: $color-secondary-header-top-lang-orange;
  }
}

@media only screen and (max-width: 1024px) {
  .header__bottom {
    align-items: center;
    flex-basis: auto;
    flex-direction: column;
  }

  .header__logo {
    position: static;
    transform: none;
  }

  .header-block {
    height: 284px;
  }

  .contacts::before,
  .contacts::after {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .contacts {
    align-items: center;
    flex-basis: auto;
    flex-direction: column;
  }

  .contacts-right,
  .contacts-left {
    flex-basis: auto;
  }
}

@media only screen and (max-width: 425px) {
  .contact--mobile {
    display: none;
  }

  .header-fixed {
    position: static;
  }

  .header-block {
    display: none;
  }
}
