.button {
  border-radius: 9px;
  color: #fff;
  display: inline-block;
  padding: 18px 0 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &--orange {
    background: $color-main-landing-workflow-button-orange;

    &:hover {
      background: lighten($color-main-landing-workflow-button-orange, 7%);
    }
  }

  &--text-uppercase {
    text-transform: uppercase;
  }
}

.button-card {
  background-color: $color-main-landing-workflow-button-orange;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.65;
  margin: auto 28px;
  padding: 0 79px;
  text-align: center;
  text-decoration: none;
}
