/* rubik-300 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url('/dist/fonts/rubik-v6-latin_cyrillic-300.woff2') format('woff2'),
    url('/dist/fonts/rubik-v6-latin_cyrill    -300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url('/dist/fonts/rubik-v6-latin_cyrillic-regular.woff2') format('woff2'),
    url('/dist/fonts/rubik-v6-latin_cyrill    -regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'),
    url('/dist/fonts/rubik-v6-latin_cyrillic-500.woff2') format('woff2'),
    url('/dist/fonts/rubik-v6-latin_cyrill    -500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url('/dist/fonts/rubik-v6-latin_cyrillic-700.woff2') format('woff2'),
    url('/dist/fonts/rubik-v6-latin_cyrill    -700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
