.footer__icon {
  background: url('/dist/images/footer_icons.png') no-repeat top left;
  height: 32px;
  width: 32px;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url('/dist/images/footer_icons2x.png') no-repeat top left;
    background-size: 99px 32px;
  }

  &--facebook {
    background-position: 0 0;
  }

  &--instagram {
    background-position: -33px 0;
  }

  &--me {
    background-position: -66px 0;
  }
}

.landing__icon {
  background-image: url('/dist/images/landing_sprites.png');

  @media (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx) {
    background-image: url('/dist/images/landing_spritesx2.png');
    background-size: 721px 150px;
  }

  &--house {
    background-position: 0 0;
    height: 80px;
    width: 80px;
  }

  &--steril {
    background-position: -80px 0;
    height: 79px;
    width: 80px;
  }

  &--curring {
    background-position: -160px 0;
    height: 80px;
    width: 56px;
  }

  &--medal {
    background-position: -216px 0;
    height: 60px;
    width: 55px;
  }

  &--placed {
    background-position: -271px 0;
    height: 150px;
    width: 150px;
  }

  &--sterilized {
    background-position: -421px 0;
    height: 150px;
    width: 150px;
  }

  &--cured {
    background-position: -571px 0;
    height: 150px;
    width: 150px;
  }
}
