.nav {
  display: inline-block;
  vertical-align: top;

  &__link {
    color: #000;
    display: inline-block;
    padding: 16px 15px;
    text-decoration: none;
    transition: 0.3s;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:after {
      border: solid $color-secondary-header-top-lang-orange;
      border-width: 0 2px 2px 0;
      content: '';
      display: inline-block;
      margin: 0 0 5px 6px;
      padding: 3px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      vertical-align: middle;
    }

    &:hover {
      background: darken(#fff, 7%);
    }

    .nav-left &:last-child:after,
    .nav-right &:nth-child(2n + 1):after {
      display: none;
    }
  }

  &__button {
    background: $color-secondary-header-bottom-button-orange;
    color: #fff;
    padding: 16px 22px;

    &:hover {
      background: lighten($color-secondary-header-bottom-button-orange, 7%);
    }
  }
}
