.nav {
  &-container {
    display: flex;
    flex-basis: 50%;
  }

  &__bar-button {
    display: none;
  }

  &-left {
    display: flex;
    flex-basis: 555px;
    margin-left: auto;
  }

  &-right {
    display: flex;
    flex-basis: 462px;
    justify-content: flex-end;
  }

  &__link {
    color: #000;
    display: inline-block;
    padding: 16px 15px;
    text-decoration: none;
    transition: 0.3s;
    vertical-align: top;
  }

  &__link:first-child::after {
    border: solid $color-secondary-header-top-lang-orange;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    margin: 0 0 5px 6px;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
  }

  &__link:hover {
    background: darken(#fff, 7%);
  }

  &__button {
    background: $color-secondary-header-bottom-button-orange;
    color: #fff;
    flex-basis: 193px;
    text-align: center;
  }

  &__button:hover {
    background: lighten($color-secondary-header-bottom-button-orange, 7%);
  }
}

@media only screen and (max-width: 1024px) {
  .nav-container {
    align-items: center;
    flex-basis: auto;
    flex-direction: column;
  }

  .nav-left {
    flex-basis: auto;
    margin-left: 0;
  }

  .nav-right,
  .nav__button {
    flex-basis: auto;
  }
}

@media only screen and (max-width: 425px) {
  .nav__bar-button {
    border: 0;
    display: inline-block;
    padding: 0;
  }

  .nav-open {
    height: 100%;
  }

  .nav-closed {
    height: 0;
    overflow: hidden;
  }

  .nav__link {
    border: 1px #6f6f6f solid;
    border-collapse: collapse;
    display: block;
  }

  .nav-container {
    width: 100%;
  }

  .nav-right,
  .nav-left,
  .nav__button {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}

.dropdown {
  display: inline-block;

  &__content {
    background-color: darken(#fff, 4%);
    display: none;
    min-width: 160px;
    position: absolute;
    text-decoration: none;
    z-index: 1;
  }

  &:hover &__content {
    display: block;
  }

  &__link {
    display: block;
    padding: 15px;
  }

  &__link:hover {
    background: darken(#fff, 7%);
  }

  &__link:link {
    color: #000;
  }
}

@media only screen and (max-width: 425px) {
  .dropdown {
    display: block;
    overflow: hidden;

    &__content {
      display: block;
      position: static;
    }
  }

  .open {
    height: 100%;
  }

  .close {
    height: 0;
  }
}
