$base-text-color: #333;
$base-background-color: #fff;

.flex-pagination {
  // reset default list properties
  list-style: none;
  margin:0;
  padding:0;

  display : flex;
  flex-wrap : wrap;
  justify-content : space-between;
}

.flex-pagination li {
  order : 2;
  display : inline-block;
}

.flex-pagination li:first-child {
  order : 0;
  width : 50%; text-align : left;
}

.flex-pagination li:last-child {
  order : 1;
  width : 50%; text-align : right;
}

@media (min-width : 48em) {

  .flex-pagination li {
    order : 0;
  }

  .flex-pagination li:first-child {
    order : 0;
    width : auto; text-align : center;
  }

  .flex-pagination li:last-child {
    order : 0;
    width : auto; text-align : center;
  }

}

.btn {
  display: inline-block;
  padding: 0.25em;
  min-width: 1em;
  text-align: center;
  border: 1px solid $base-text-color;
  border-radius: 0.25em;

  color: $base-text-color;
  text-decoration: none;

  &:hover {
    background-color: $base-text-color;
    color: $base-background-color;
  }
}
