.sprites {
  background: url(/dist/images/sprites.png) no-repeat;
}
.units_cat {
  display: inline-block;
  margin: 0 9px;
  vertical-align: middle;
  width: 43px;
  height: 42px;
  background-position: -232px 0;
}
.units_dog {
  display: inline-block;
  margin: 0 9px;
  vertical-align: middle;
  width: 44px;
  height: 43px;
  background-position: -187px 0;
}
.icon_cross {
  width: 61px;
  height: 61px;
  background-position: -66px 0;
}
.icon_house {
  width: 58px;
  height: 58px;
  background-position: -128px 0;
}
.icon_syringe {
  width: 65px;
  height: 63px;
  background-position: 0 0;
}
