.sprites {
  background: url('/dist/images/sprites.png') no-repeat;
}

.units {
  &_cat {
    background-position: -232px 0;
    display: inline-block;
    height: 42px;
    margin: 0 9px;
    vertical-align: middle;
    width: 43px;
  }

  &_dog {
    background-position: -187px 0;
    display: inline-block;
    height: 43px;
    margin: 0 9px;
    vertical-align: middle;
    width: 44px;
  }
}

.icon {
  &_cross {
    background-position: -66px 0;
    height: 61px;
    width: 61px;
  }

  &_house {
    background-position: -128px 0;
    height: 58px;
    width: 58px;
  }

  &__syringe {
    background-position: 0 0;
    height: 63px;
    width: 65px;
  }
}
