// Fonts

$ff-main: 'Ubuntu';

//Colors

$color-secondary-header-top-background-green: #eaf5f3;
$color-secondary-header-top-font-gray: #6f6f6f;
$color-secondary-header-top-lang-orange: #f9a852;
$color-secondary-header-bottom-button-orange: #f1a350;



