// Fonts

$ff-main: 'Rubik';

//Colors

$color-secondary-header-top-background-green: #ecf8f6;
$color-secondary-header-top-font-gray: #6f6f6f;
$color-secondary-header-top-lang-orange: #f9a852;
$color-secondary-header-bottom-button-orange: #f1a350;

$color-main-landing-hero-green: #3ab8a4;

$color-main-landing-workflow-header-blue: #434f89;
$color-main-landing-workflow-button-orange: #ff9400;

$color-main-landing-text-black: #4c4c4c;
$color-secondary-workflow-title-green: #3bb7a2;

$color-secondary-achieves-million-orange: #ffa31a;
$color-secondary-achieves-data-green: #3eb8a3;

$color-secondary-news-menu-gray: #4f4f4f;
